.app__newsLetter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-black);
  width: 67.7%;
  border: 2px solid rgb(220, 202, 135, 0.35);
  padding: 3rem 4rem;
  z-index: 2;

  h4 {
    font-size: 23px;
    font-weight: 800;
    font-family: var(--font-base);
    color: var(--color-white);
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
  }

  img {
    width: 40px;
  }

  h1 {
    font-size: 64px;
    font-weight: 600;
    font-family: var(--font-base);
    margin-top: 0.8rem;
    color: var(--color-golden);
    letter-spacing: 2px;
    margin-bottom: 2rem;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-alt);
    color: var(--color-white);
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 4rem;
  }

  .app__newsLetter-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input {
      border: 1px solid var(--color-white);
      margin-right: 2rem;
      background: transparent;
      color: var(--color-white);
      font-size: 16px;
      font-weight: 600;
      font-family: var(--font-base);
      border: 1px solid var(--color-crimson);
      padding: 1rem 24rem 1rem 0.8rem;
    }
  }
}
