.app__laurels {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 105vh;
  padding: 8rem 6rem;
  justify-content: space-evenly;
  background: url("../../assets/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;

  .app__laurels-content {
    display: flex;
    flex-direction: column;

    h4 {
      font-size: 23px;
      font-weight: 800;
      font-family: var(--font-base);
      color: var(--color-white);
      letter-spacing: 1px;
      margin-bottom: 0.5rem;
    }

    img {
      width: 40px;
    }

    h1 {
      font-size: 64px;
      font-weight: 500;
      font-family: var(--font-base);
      margin-top: 0.8rem;
      color: var(--color-golden);
      letter-spacing: 2px;
      margin-bottom: 4rem;
    }

    .app__laurels-content_awards {
      display: grid;
      grid-template-columns: auto auto;

      .app__laurels-content_award {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 2rem 2rem 0;
        width: 401px;

        img {
          width: 140px;
          margin-right: 2rem;
        }

        div {
          display: flex;
          flex-direction: column;
          justify-content: center;

          h4 {
            font-size: 23px;
            font-weight: 700;
            font-family: var(--font-base);
            color: var(--color-golden);
            letter-spacing: 1px;
          }

          p {
            font-size: 16px;
            font-weight: 400;
            font-family: var(--font-alt);
            color: var(--color-grey);
            letter-spacing: 2px;
            text-align: left;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }

  .app__laurels-image {
    display: flex;

    img {
      width: 500px;
      height: 600px;
    }
  }

  @media screen and (max-width: 1500px) {
    padding: 4rem 3rem;
    flex-direction: column;

    .app__laurels-content {
      h1 {
        margin-bottom: 4rem;
      }

      .app__laurels-content_awards {
        .app__laurels-content_award {
          img {
            width: 100px;
            margin-right: 2rem;
          }
        }
      }
    }

    .app__laurels-image {
      display: none;
    }
  }

  @media screen and (max-width: 900px) {
    .app__laurels-content {
      justify-content: center;
      align-items: center;
      .app__laurels-content_awards {
        grid-template-columns: auto;
      }
    }
  }
}
