.btn {
  padding: 0.8rem 0.8rem;
  background-color: var(--color-golden);
  color: var(--color-black);
  font-family: var(--font-alt);
  font-size: 14px;
  font-weight: 700;
  min-width: 157px;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease;
  letter-spacing: 0.08em;

  &:hover {
    background-color: var(--color-black);
    color: var(--color-golden);
    border: 1px solid var(--color-golden);
  }
}

.title {
  font-size: 64px;
  font-weight: 600;
  font-family: var(--font-base);
  color: var(--color-golden);
  margin-bottom: 2rem;
  text-align: center;
}

.opensans {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-alt);
  color: var(--color-grey);
  margin-bottom: 2.5rem;
  line-height: 28px;
  text-align: left;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000e1;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 2rem;
  border: 1px solid var(--color-golden);
  border-radius: 4px;
  background: var(--color-black);

  .modal__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .modal__content-buttons {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      button:first-child {
        margin-right: 1rem;
      }
    }
  }
  @media screen and (max-width: 800px) {
    .modal__content {
      h1 {
        font-size: 45px;
      }

      p {
        text-align: center;
      }
  
      .modal__content-buttons {
        flex-direction: column;

        button:first-child {
          margin: 0  0 1rem;
        }
      }
    }
    height: 400px;
  }
}

.modal__gallery {
  width: clamp(25%, 400px, 80%);
  height: min(70%, 1280px);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 2rem;
  border: 1px solid var(--color-golden);
  border-radius: 2px;
  background: #000000e1;

  .modal__gallery-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3rem 1rem;

    img {
      width: clamp(170px, 301px, 80%);
      height: clamp(301px ,447px, 80%);
      margin-bottom: 1.5rem;

      &:hover {
        opacity: 1;
      }
    }

    .modal__gallery-content_button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.btn-close {
  padding: 0.8rem 0.8rem;
  background-color: var(--color-crimson);
  font-family: var(--font-alt);
  font-size: 14px;
  font-weight: 700;
  min-width: 157px;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease;
  letter-spacing: 0.08em;

  &:hover {
    background-color: var(--color-black);
    color: var(--color-golden);
    border: 1px solid var(--color-golden);
  }
}
