.app__gallery {
  display: flex;
  flex-direction: row;
  background-color: var(--color-black);
  padding: 4rem 0 4rem 6rem;

  .app__gallery-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h4 {
      font-size: 23px;
      font-weight: 800;
      font-family: var(--font-base);
      color: var(--color-white);
      letter-spacing: 1px;
      margin-bottom: 0.5rem;
    }

    img {
      width: 40px;
    }

    h1 {
      font-size: 64px;
      font-weight: 500;
      font-family: var(--font-base);
      margin-top: 0.8rem;
      color: var(--color-golden);
      letter-spacing: 2px;
      margin-bottom: 4rem;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      font-family: var(--font-alt);
      color: var(--color-grey);
      letter-spacing: 2px;
      text-align: left;
      margin-bottom: 2rem;
    }

    button {
      padding: 0.8rem 0.8rem;
      background-color: var(--color-golden);
      font-family: var(--font-base);
      font-size: 16px;
      font-weight: 800;
      min-width: 157px;
      justify-content: center;
      align-items: center;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}
