.app__gallery {
  display: flex;
  flex-direction: row;
  background-color: var(--color-black);
  padding: 4rem 0 4rem 6rem;

  .app__gallery-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h4 {
      font-size: 23px;
      font-weight: 800;
      font-family: var(--font-base);
      color: var(--color-white);
      letter-spacing: 1px;
      margin-bottom: 0.5rem;
    }

    img {
      width: 40px;
    }

    h1 {
      font-size: 64px;
      font-weight: 500;
      font-family: var(--font-base);
      margin-top: 0.8rem;
      color: var(--color-golden);
      letter-spacing: 2px;
      margin-bottom: 4rem;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      font-family: var(--font-alt);
      color: var(--color-grey);
      letter-spacing: 2px;
      text-align: left;
      margin-bottom: 2rem;
    }

    button {
      padding: 0.8rem 0.8rem;
      background-color: var(--color-golden);
      font-family: var(--font-base);
      font-size: 16px;
      font-weight: 800;
      min-width: 157px;
      justify-content: center;
      align-items: center;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  .app__gallery-images {
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 50%;
    position: relative;

    .app__gallery-images_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: max-content;
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      .app__gallery-images_card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s ease;
        border: 1px solid rgb(220, 202, 135, 0.4);
        margin-right: 2rem;

        img {
          width: 301px;
          height: 447px;
          transition: 0.4s ease;
        }

        &:hover {
          .app__gallery-images_icon {
            display: flex;
          }

          img {
            opacity: 0.35;
          }
        }

        .app__gallery-images_icon {
          display: none;
          position: absolute;
          color: white;
          opacity: 1;
          cursor: pointer;
        }
      }
    }

    .app__gallery-arrows {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      bottom: 5%;
      padding: 0 1rem 0 1rem;

      .app__gallery-arrows_icons {
        width: 30px;
        height: 30px;
        color: var(--color-golden);
        background-color: var(--color-black);
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          color: var(--color-white);
        }
      }
    }
  }
}
